*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #062836;
    --accent2-color: #ffffff;

    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}

header,
main,
footer {
    width: 940px;
    margin: 0 auto;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;

    padding: 1rem;

    background-color: var(--accent2-color);
    border-bottom: 1px solid var(--secondary-color);
}

.logo img {
    width: 100px;
    height: auto;
}

/* NAVIGATION */

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;

    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--accent1-color);

    padding: 0.5rem;
}

nav ul li a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

/* HEADINGS */

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.employee {
    padding: 2rem 0;
}

.employee h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.employee-gallery {
    display: flex;

    justify-content: space-between;

    gap: 1rem;
}

.employee figure {
    flex: 1;

    text-align: center;
}

.employee-gallery img {
    width: 100%;
    max-width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}

figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

/* contact hero section start here */
main {
    margin: 1rem auto;
    padding: 2rem auto;
}

.contact-hero h1 {
    font-weight: bold;
    text-align: center;
    margin: 2rem auto;
}

.contact-hero p {
    font-weight: bold;
    text-align: center;
    padding: 0.34rem;
}

/* contact section start here  */
.contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    align-items: start;
    margin: 2rem auto;
}

.map-box {

    border: 1px solid #ccc;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    min-height: 380px;
    border: 0;

}

.contact-form form {
    max-height: 500px;
    width: 100%;

}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border: 1px solid #999;
    border-radius: 3px;
    border-radius: 4px;
}

form label {
    font-weight: bold;
}

.purpose-group {
    display: grid;

    gap: 10px;
    margin: 1rem 0;
}

.subscribe-label {
    display: flex;
    align-items: center;
    gap: 8px;

}

.contact-form button {
    margin-top: 10px;
    padding: 12px;
    color: var(--accent2-color);
    border: 1px solid #999;
    background: var(--primary-color);
    cursor: pointer;
    width: 100%;
    border-radius: 4px;
    font-size: 1rem;
}

/* FOOTER */

footer {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 1rem 0;

    margin-top: 2rem;

    border-top: 1px solid var(--secondary-color);

}

.socialmedia {
    display: flex;
    gap: 1rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: auto;

}

/* media qurry for responsive */

@media (max-width: 768px) {

    header,
    main,
    footer {
        width: 100%;
        padding: 0 1rem;
    }

    header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    nav ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    .contact-section {
        grid-template-columns: 1fr;
    }

    .employee-gallery {
        flex-direction: column;
        align-items: center;
    }
}