*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #062836;
    --accent2-color: #ffffff;

    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}

header,
main,
footer {
    width: 940px;
    margin: 0 auto;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;

    padding: 1rem;

    background-color: var(--accent2-color);
    border-bottom: 1px solid var(--secondary-color);
}

.logo img {
    width: 100px;
    height: auto;
}

/* NAVIGATION */

nav ul {
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;

    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
    color: var(--accent1-color);

    padding: 0.5rem;
}

nav ul li a:hover {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

/* HEADINGS */

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* HERO SECTION */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    padding: 1rem;
    /* background-color: rgba(6, 40, 54, 0.8); */
    color: white;
}

.hero article {
    position: absolute;

    bottom: 30px;
    left: 20px;
    right: 20px;
    background-color: var(--secondary-color);
    padding: 1rem;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 1rem;
}

/* HISTORY SECTION */

.history {
    padding: 2rem 0;
}

.history h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.history-content {
    display: grid;

    grid-template-columns: 1fr 200px 1fr;

    gap: 1rem;

    align-items: center;
}

.history-content img {
    width: 100%;
    height: auto;
}

/* ADVENTURE SECTION */

.adventures {
    padding: 2rem 0;
}

.adventures h2 {
    text-align: center;
    margin-bottom: 1rem;
}

.adventure-gallery {
    display: flex;

    justify-content: space-between;

    gap: 1rem;
}

.adventure-gallery figure {
    flex: 1;

    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    height: 150px;

    object-fit: cover;
}

figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

/* FOOTER */

footer {
    display: flex;

    justify-content: space-between;

    align-items: center;

    padding: 1rem 0;

    margin-top: 2rem;

    border-top: 1px var(--secondary-color);
}

.socialmedia {
    display: flex;
    gap: 1rem;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: auto;
}